/* 
mostra-nuova
ff-tisa-sans-web-pro
sax-mono
 */

body {
	font-family: ff-tisa-sans-web-pro, sans-serif;
	color: #333;
	background: #effcfc;
	font-size: 75%;
}

h1, h2, h3 {
	font-family: jaf-herb-condensed, serif;
}

p, li {
	font-size: 1.3em;
	line-height: 1.6em;
}

code {
	font-family: sax-mono, monospace;
}

header {

	ul {
		text-align: center;

		li {
			font-family: sax-mono, sans-serif;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
		}

	}

}
